*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    width: 100vw;
    height: 100vh;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-preview.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_titulo{
    text-align: center;
    padding: 25px 0;
    font-size: 25px;
    color: white;
}

.section_imagenes{
    width: 850px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    gap: 15px;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

.section_imagenes img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 15px;
}

.imagen_4{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.imagen_1{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}